/.idea/
/gen/
/webapp/react-app/node_modules/
/webapp/react-app/src/api/
node_modules/
services/java-app/target/
services/python-app/.venv/
.DS_Store
.env
.venv
*.pyc
.pytest_cache/
.mypy_cache/
services/python-app/.env
webapp/react-app/dist/
coverage/
infra/.env
*.log
